<!DOCTYPE html>  
<html lang="pt-BR">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Sobre Nós - Eco Voltz</title>
    <link rel="stylesheet" href="static/Sobre-Nos.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>  
    <header>
        <a href="{{url_for('index')}}" class="floating-button">
            ⬅ Voltar</a>
        <h1>Sobre Nós</h1>
    </header>

    <main>
        <section class="sobre">
            <h2>Nossa História</h2>
            <p>A Eco Voltz nasceu da necessidade de promover soluções energéticas acessíveis e sustentáveis. Nossa equipe, formada por alunos do curso de Informática e Comércio do IFRN-Zona Norte, uniu forças para desenvolver uma plataforma que auxilie no consumo consciente de energia.</p>
        </section>

        <section class="equipe">
            <h2 class="nossa-equipe">Nossa Equipe</h2>
            <div class="integrantes">

                <div class="membro">
                    <img src="static/imagens/Álvaro Antônio.jpg" alt="Membro da equipe">
                    <p><strong>Álvaro Antônio</strong> - Estrutura CSS</p>
                </div>

                <div class="membro">
                    <img src="static/imagens/Diego de Andrade.jpg" alt="Membro da equipe">
                    <p><strong>Diego de Andrade</strong> - Desenvolvimento Flask</p>
                </div>

                <div class="membro">
                    <img src="static/imagens/membro3.jpg" alt="Membro da equipe">
                    <p><strong>Enzo Lucatonny</strong> - Desenvolvimento Flask</p>
                </div>
                
                <div class="membro">
                    <img src="static/imagens/Niicolas Alejandro.jpg" alt="Membro da equipe">
                    <p>Nicolas Alejandro - Design e Estrutura HTML</p>
                </div>

                <div class="membro">
                    <img src="static/imagens/Ryann Deyv's.jpg" alt="Membro da equipe">
                    <p><strong>Ryann Deyvs</strong> - Desenvolvimento Flask e Linguagem Javascript</p>
                </div>

                <div class="equipe-comercio">
                    <h3>Equipe de Comércio Atuando na Gestão Comercial</h3>
                    <div class="integrantes">
                        <div class="membro">
                            <img src="static/imagens/Caio Ryan.jpg" alt="Caio Ryan">
                            <p><strong>Caio Ryan</strong></p>
                        </div>
                
                        <div class="membro">
                            <img src="static/imagens/Cristiano Ronaldo.jpg" alt="Cristiano Ronaldo">
                            <p><strong>Cristiano Ronaldo</strong></p>
                        </div>
                
                        <div class="membro">
                            <img src="static/imagens/Daniel Sales.jpg" alt="Daniel Sales">
                            <p><strong>Daniel Sales</strong></p>
                        </div>
                
                        <div class="membro">
                            <img src="static/imagens/Flaviany Dantas.jpg" alt="Flaviany Dantas">
                            <p><strong>Flaviany Dantas</strong></p>
                        </div>
                
                        <div class="membro">
                            <img src="static/imagens/Manoel Lúcio.jpg" alt="Manoel Lúcio">
                            <p><strong>Manoel Lúcio</strong></p>
                        </div>
                
                        <div class="membro">
                            <img src="static/imagens/Yasmim de Sena.jpg" alt="Yasmim de Sena">
                            <p><strong>Yasmim de Sena</strong></p>
                        </div>
                    </div>
                </div>                
            </div>
        </section>

        <section class="missao">
            <h2>Nosso Propósito</h2>
            <p>Queremos transformar a relação das pessoas com o consumo de energia, oferecendo ferramentas acessíveis e educativas que incentivam a eficiência energética e a sustentabilidade.</p>
        </section>
    </main>

    <footer>
        <p>© Eco Voltz ltda - Todos os direitos reservados</p>
    </footer>

    <!--Parte do JS-->
    <script src="static/Sobre-Nos.js" defer></script>
</body>  
</html>