<!DOCTYPE html>  
<html lang="pt-BR">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Eco Voltz</title>
    <link rel="stylesheet" href="static/Tela-Inicial.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>  
<body>  

<header>

    <img src="static/imagens/logo.png" alt="">  
    <p><i>Na <strong>Eco Voltz</strong>, acreditamos que sustentabilidade e inovação caminham juntas. Nossa missão é transformar a relação entre energia e meio ambiente, oferecendo soluções eficientes e acessíveis que promovem o uso consciente dos recursos naturais. Com tecnologia de ponta e compromisso com o planeta, buscamos criar um futuro mais verde e equilibrado para todos, onde energia limpa e preservação ambiental sejam a base de um mundo melhor.</i></p>

    <a href="{{url_for('calculo')}}">
        <button class="button">Iniciar Sessão</button>
    </a>  

</header>  

<main>  
    <div class="section">  
        <h2>Energia que Transforma: Conforto, Sustentabilidade e Felicidade em Cada Lar</h2>  
        <p>Uma família feliz está reunida em casa, compartilhando momentos de alegria e tranquilidade. A foto simboliza como um ambiente acolhedor, eficiente e sustentável pode melhorar a qualidade de vida, proporcionando conforto e economia ao mesmo tempo. Aqui, mostramos que cuidar do consumo energético não é apenas uma questão de economia, mas também de criar um futuro melhor para todos."</p>
        <img src="static/imagens/familia2.jpg" alt="">  
    </div>  

    <div class="section">  
        <h2>Como a Eco Voltz beneficia você o mundo</h2>  
        <p>Utilize com eficiência a energia elétrica em sua casa e no seu trabalho. O desperdício sai caro para você e para o meio ambiente. Consumindo energia de forma consciente, você economiza na conta de luz e ainda ajuda na preservação das nossas reservas naturais.

            Adote algumas mudanças, como substituir seus equipamentos ineficientes por outros mais novos e eficientes, sempre dando preferência aos que possuem o selo do Procel. Assim, você utiliza a energia elétrica de forma mais segura e econômica, sem abrir mão do seu conforto. Ficou em dúvida se o seu equipamento não é eficiente? O Simulador irá te ajudar!</p>  
    </div>  

    <div class="section">  
        <h2>Análise de consumo</h2>  
        <p>É muito importante analisar e acompanhar o avanço da conta de luz. Ela traz informações essenciais, como o número do cliente, o consumo mensal de energia, valores de tarifa impostos e taxas, e por fim, os telefones de contato com a concessionária de energia ou agência reguladora. A cobrança da conta é feita mensalmente, combase em uma tarifa unitária de energia. O total da fatura em Real (R$) é resultado da multiplicação da energia consumida (medida em quilowatt hora) no mês pela tarifa aplicada, acrescido de taxas e impostos. Os valores são definidos e homologados pela Agência Nacional de Energia Elétrica (Aneel).
        </p>  
    </div>  

    <div class="red-section section">  
        <h2>Preservando o Futuro: A Natureza em Harmonia com a Sustentabilidade</h2>  
        <p>Nesta imagem, uma floresta exuberante simboliza o poder regenerativo da natureza quando cuidamos de nossos recursos. Ao adotar práticas sustentáveis e reduzir o impacto ambiental, estamos ajudando a preservar ecossistemas essenciais e a combater problemas como o desmatamento e a degradação do solo. Essa foto é um lembrete de que cada pequena ação pode contribuir para um planeta mais verde e equilibrado, garantindo que futuras gerações também desfrutem dessas paisagens magníficas</p>
        <img src="static/imagens/natu.jpg" alt="">  
    </div>  

    <div class="section">  
        <h2>O que a Eco Voltz sugere como proposta</h2>  
        <p>A <strong>Eco Voltz</strong> desenvolveu um <i>Simulador de Consumo,</i> proporcionando um entendimento melhor sobre sua energia elétrica consumida por cada aparelho da sua casa. Você seleciona os eletrodomésticos, informa a potência, e o tempo de uso dos aparelhos; com isso, o Simulador estima o consumo total. Ao final, ainda recebe dicas dos equipamentos mais eficientes do mercado, de acordo com o seu perfil de uso. A leitura na sua conta de luz é feita em quilowatt hora (kWh).</p>  
    </div>  

    <footer>  
        <p>© Eco Voltz ltda All Rights Reserved</p>
        <p>Protótipo feito em cooperação com as equipes dos segundos anos de Informática e Comércio no IFRN Campus Natal - Zona Norte</p>

        <a class="sobre" href="{{url_for('sobrenos')}}"><strong>Sobre nós</strong></a>
    </footer>  
</main>  
</body>  
</html>